@charset "UTF-8";
.background {
  background-color: #f0f0f0;
  position: fixed;
  width: 100vw;
  height: 100%;
  text-align: center;
  overflow: hidden;
  top: 0px;
  left: 0px;
}

.background--square {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 8vw;
  bottom: 0px;
  right: 0%;
  border-radius: 50px;
  overflow: hidden;
  -webkit-animation-name: square;
          animation-name: square;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.background--square2 {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 8vw;
  bottom: 10px;
  right: -50px;
  border-radius: 50px;
  overflow: hidden;
  -webkit-animation-name: square2;
          animation-name: square2;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.background--square3 {
  display: inline-block;
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 8px;
  top: 0px;
  overflow: hidden;
  -webkit-animation-name: square3;
          animation-name: square3;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.background--circle {
  display: inline-block;
  position: absolute;
  background-color: #FF9800;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  top: 0px;
  left: 16px;
  overflow: hidden;
  -webkit-transform: translateY(-65vh);
          transform: translateY(-65vh);
  -webkit-animation-name: circle;
          animation-name: circle;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@media screen and (orientation: portrait) {
  .background--square {
    width: 125%;
    height: 8vh;
  }
  .background--square2 {
    width: 150%;
    height: 8vh;
  }
  .background--square3 {
    width: 25vh;
    height: 25vh;
    top: 12rem;
  }
  .background--circle {
    width: 25vh;
    height: 25vh;
  }
}

@media screen and (orientation: landscape) {
  .background--square {
    height: 8vw;
  }
  .background--square2 {
    height: 8vw;
  }
  .background--square3 {
    width: 25vw;
    height: 25vw;
    right: 12rem;
  }
  .background--circle {
    width: 25vw;
    height: 25vw;
  }
}

@-webkit-keyframes square {
  0% {
  }
  100% {
    background-color: #4CAF50;
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
}

@keyframes square {
  0% {
  }
  100% {
    background-color: #4CAF50;
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
}

@-webkit-keyframes square2 {
  0% {
  }
  100% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
    background-color: #F44336;
  }
}

@keyframes square2 {
  0% {
  }
  100% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
    background-color: #F44336;
  }
}

@-webkit-keyframes square3 {
  0% {
  }
  100% {
    background-color: #2196f3;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes square3 {
  0% {
  }
  100% {
    background-color: #2196f3;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes circle {
  0% {
  }
  100% {
    -webkit-transform: translateY(5vh);
            transform: translateY(5vh);
  }
}

@keyframes circle {
  0% {
  }
  100% {
    -webkit-transform: translateY(5vh);
            transform: translateY(5vh);
  }
}

.content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.content--card, .content--card__animation, .content--card__animation__logo {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 95%;
  display: inline-block;
  background-color: white;
  -webkit-box-shadow: 0px 0px 14px 1px #00000021;
          box-shadow: 0px 0px 14px 1px #00000021;
  border-radius: 4px;
}

.content--card__animation, .content--card__animation__logo {
  opacity: 0;
  -webkit-animation-name: cardAnimation;
          animation-name: cardAnimation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.content--card__animation__logo {
  text-align: center;
}

.content--card--title {
  font-size: 1.2rem;
  margin: 1rem;
}

.content--card--subtitle {
  font-size: 1.12rem;
  border-bottom: 4px solid black;
  margin: 1rem;
}

.content--card--text {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1rem;
}

.content--licence, .content--licence__do, .content--licence__do_not, .content--licence__other {
  color: #1e88e5;
  border-bottom: medium solid #1e88e5;
}

.content--licence::before, .content--licence__do::before, .content--licence__do_not::before, .content--licence__other::before {
  content: "・";
}

.content--licence__do {
  color: #8bc34a;
  border-bottom: medium solid #8bc34a;
}

.content--licence__do_not {
  color: #e53935;
  border-bottom: medium solid #e53935;
}

.content--licence__other {
  color: #673ab7;
  border-bottom: medium solid #673ab7;
}

.content--licence--text::before {
  content: "・";
  color: #1e88e5;
}

.content--licence--text__do::before {
  content: "・";
  color: #8bc34a;
}

.content--licence--text__do_not::before {
  content: "・";
  color: #e53935;
}

.content--licence--text__other::before {
  content: "･ ";
  color: #673ab7;
}

.content--licence--detail_text, .content--licence--detail_text__do, .content--licence--detail_text__do_not, .content--licence--detail_text__other {
  margin-left: 2.6rem;
  padding-left: 0.4rem;
  border-left: 2px solid #1e88e5;
}

.content--licence--detail_text::before, .content--licence--detail_text__do::before, .content--licence--detail_text__do_not::before, .content--licence--detail_text__other::before {
  content: "∘ ";
  color: #1e88e5;
}

.content--licence--detail_text__do {
  border-left: 2px solid #8bc34a;
}

.content--licence--detail_text__do::before {
  color: #8bc34a;
}

.content--licence--detail_text__do_not {
  border-left: 2px solid #e53935;
}

.content--licence--detail_text__do_not::before {
  color: #e53935;
}

.content--licence--detail_text__other {
  border-left: 2px solid #673ab7;
}

.content--licence--detail_text__other::before {
  color: #673ab7;
}

.content--logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: Katahdin Round Bold;
  font-size: 15.5vmin;
}

.content--logo > p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.content--logo > p:nth-child(1) {
  color: #000000;
}

.content--logo > p:nth-child(2) {
  color: #000000;
}

.content--logo > p:nth-child(3) {
  color: #F44336;
}

.content--logo > p:nth-child(4) {
  color: #4CAF50;
}

.content--logo > p:nth-child(5) {
  color: #2196F3;
}

.content--logo > p:nth-child(6) {
  color: #FF9800;
}

.content--logo > p:nth-child(7) {
  color: #9C27B0;
}

.content--logo > p:nth-child(8) {
  color: #FF5722;
}

.content--logo > p:nth-child(9) {
  color: #00BCD4;
}

@-webkit-keyframes cardAnimation {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes cardAnimation {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 912px) {
  .content--card, .content--card__animation, .content--card__animation__logo {
    width: 75%;
  }
  .content--card--title {
    font-size: 2.1rem;
  }
  .content--card--subtitle {
    font-size: 1.75rem;
  }
  .content--card--text {
    font-size: 1.25rem;
  }
}

.centerContainer {
  width: 100%;
  text-align: center;
}

.layout--space {
  height: 1rem;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=index.css.map */